* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-image: src('/images/background.pns');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
 .banner-1{
  height: 50%;
  width: 100%;
  position: relative;
  overflow: visible;
  object-fit: cover;
   
 }
