body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #f0f0f0, #dcdcdc);
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.arrow {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #555;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu-grid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  padding: 2rem 3rem;
  background: #a77df2;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card:hover {
  transform: translateY(-5px);
  background: #8b5de8;
}

